@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Montserrat';
    font-style: light;
    font-weight: 300;
    src: url('fonts/Montserrat-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: medium;
    font-weight: 500;
    src: url('fonts/Montserrat-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: semibold;
    font-weight: 600;
    src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: extrabold;
    font-weight: 800;
    src: url('fonts/Montserrat-ExtraBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/Montserrat-Italic.ttf') format('truetype');
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI',
      'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply p-5 xl:px-40;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  h3 {
    @apply smooth text-lg text-slate-800 font-semibold;
  }

  ul li:hover {
    @apply smooth hover:scale-110;
  }

  section {
    @apply mt-14 md:mt-24 md:mb-36 lg:mt-44 lg:mb-44 xl:mt-60 xl:mb-72 border-2;
  }

  .services::after {
    @apply absolute top-0 left-0 right-0 bottom-0 w-full h-96 bg-[#08142e];
  }
}

@layer components {
  .card {
    @apply w-20 h-24 p-10 flex flex-col border-2 border-[#2378FF];
  }

  .smooth {
    @apply duration-300 ease-in-out;
  }

  .responsiveText {
    @apply sm:font-light md:font-normal md:text-lg lg:font-semibold lg:text-xl xl:text-2xl;
  }
}

.hero::after {
  content: '';
  background-image: linear-gradient(
      to right,
      rgba(0, 20, 200, 0.95),
      rgba(0, 35, 165, 0.75),
      rgba(155, 65, 0, 0.75),
      rgba(175, 75, 0, 0.95)
    ),
    url('../public/assets/mobile-prototype-bg.png');
  background-position: 0% 20%;
  @apply absolute top-0 left-0 right-0 bottom-0 -z-10 max-w-full max-h-96 bg-no-repeat bg-cover bg-origin-content opacity-75 md:max-h-full md:h-[55%] lg:h-[60%] xl:h-[80%] 2xl:h-[80%];
}
/* md:max-h-full md:h-[12%] lg:h-[26%] 2xl:h-[32%] */
/* .heading::after {
  @apply absolute top-0 left-0 right-0 bottom-0 w-[100px] h-[100px] px-5 py-1 bg-orange-500;
} */

/* #overlay {
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(0, 6, 139, 0.85),
      rgba(0, 36, 166, 0.65),
      rgba(153, 64, 0, 0.65),
      rgba(173, 73, 0, 0.85)
    ),
    url('../public/assets/mobile-prototype-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 35%;
  z-index: -10;
} */
