@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Montserrat';
    font-style: light;
    font-weight: 300;
    src: url('fonts/Montserrat-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: medium;
    font-weight: 500;
    src: url('fonts/Montserrat-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: semibold;
    font-weight: 600;
    src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: extrabold;
    font-weight: 800;
    src: url('fonts/Montserrat-ExtraBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/Montserrat-Italic.ttf') format('truetype');
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI',
      'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  h3 {
    @apply text-xs font-semibold sm:text-sm md:text-base lg:text-lg;
  }

  h5 {
    @apply text-base font-semibold sm:text-lg lg:font-bold lg:text-xl;
  }

  nav li:hover {
    @apply smooth hover:scale-110;
  }

  .drop-down li {
    @apply text-base font-semibold text-white w-32 p-3 text-center rounded-3xl bg-[#2378FF] hover:bg-[#F49117] border-[#1e67db] border-r-2 border-b-2 shadow-lg hover:border-[#dd8316];
  }

  section {
    @apply scroll-smooth w-full px-4 py-8 sm:py-16 lg:py-32 xl:px-40;
  }

  footer {
    @apply relative px-4 py-10 text-white;
  }

  footer ::before {
    content: '';
    background-position: 25% 20%;
    @apply overlay -z-20 w-full h-full bg-[url('../public/assets/global-image-1.png')] bg-no-repeat bg-cover bg-origin-content opacity-30;
  }

  footer p,
  li,
  a {
    @apply text-xs font-thin sm:text-sm xl:text-base;
  }

  footer li {
    @apply hover:font-normal;
  }
}

@layer components {
  .smooth {
    @apply duration-300 ease-in-out;
  }

  .overlay {
    @apply absolute top-0 left-0 bottom-0 right-0 w-full h-full;
  }

  .card-wrapper {
    @apply w-full max-w-max mx-auto grid grid-cols-1 gap-6 lg:grid-cols-3;
  }

  #work img {
    @apply absolute top-0 left-0 right-0 bottom-0 w-full h-full -z-10 object-cover rounded-lg;
  }

  #team img {
    object-position: 25% 10%;
    @apply w-96 max-h-60 h-full top-0 left-0 right-0 m-0 pt-0 rounded-lg rounded-bl-none rounded-br-none;
  }

  #contact img {
    min-width: 4rem;
    @apply w-16 h-16 xl:w-20 xl:h-20;
  }

  #contact p {
    @apply py-0;
  }

  #reviews h6 {
    @apply pb-2;
  }

  .slider-wrapper {
    @apply overflow-hidden;
  }
}

/* Specific Classes */
.hero-span {
  background-image: linear-gradient(
      to right,
      rgba(0, 20, 200, 0.95),
      rgba(0, 35, 165, 0.75),
      rgba(155, 65, 0, 0.75),
      rgba(175, 75, 0, 0.95)
    ),
    url('../public/assets/prototype-lg.png');
  @apply overlay -z-10 w-full h-full bg-no-repeat bg-cover bg-center opacity-75 sm:bg-repeat sm:bg-contain;
}

#work .card ::before {
  content: '';
  @apply absolute top-0 left-0 right-0 bottom-0 smooth bg-gradient-to-t from-zinc-300 to-70% to-transparent opacity-60 -z-10 rounded-lg;
}

#work .card {
  @apply w-96 justify-end;
}

#prev,
#next {
  background-color: transparent;
  padding: 50px;
  @apply w-24 p-2 rounded-full text-xl bg-[#2378FF] border-[#1e67db] border-r-2 border-b-2 shadow-lg hover:scale-105 hover:bg-[#F49117] hover:border-[#dd8316] mx-2 active:scale-100;
}

.animation-heading {
  animation: heading-move 2s ease-in-out infinite alternate;
}

@keyframes heading-move {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

.animation-dot {
  animation: dot-move 2s ease-in-out infinite alternate;
}

@keyframes dot-move {
  0% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(50px);
  }
}
